@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/CustomFont.woff2") format("woff2"),
    url("/fonts/CustomFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.firsttextheader {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/hsone.jpg");
  background-size: cover;
  height: 55rem;
}

.bridalone {
  background-color: #f4f1ed;
}

.burgercircle {
  background-color: #f4f1ed;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  filter: drop-shadow(5px 2px 5px #000000);
}

.green-box {
  background-color: #668260;
}

.contact-side-one {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/hsfil.jpeg");
  background-size: cover;
}

.brown-text {
  color: #623e2a;
}

.ctabutton {
  -webkit-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
}

.fancy-font {
  font-family: "CustomFont";
}

.big-text {
  font-size: 10rem;
}

@media (max-width: 768px) {
  body {
    width: 150%;
  }
  .wedbox {
    display: none;
  }
}
